:root {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.dark {
  --bg: rgb(20, 20, 20);
  --textColor: #ddd;
  --softBg: rgb(34, 33, 33);
  --softTextColor: #a6a6a6;
  --log-color: rgb(199, 4, 4);
  --bgvar: rgb(199, 236, 239);
  --shadowcol: rgba(20, 20, 20, 0.5);
  --editor-bg: rgb(34, 33, 33);
  --loading-col: rgba(83, 82, 82, 0.5);
  --loading-back-col: rgba(43, 43, 43, 0.5);
}

.light {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
  --log-color: red;
  --bgvar: rgb(199, 251, 255);
  --shadowcol: rgba(224, 224, 224, 0.75);
  --editor-bg: white;
  --loading-col: rgba(255, 255, 255, 0.5);
  --loading-back-col: rgba(224, 224, 224, 0.75);
}

.container {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--textColor);
}

.wrapper {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  padding-right: 80px;
  /* border: 20px solid green; */
}

@media screen and (max-width: 1536px) {
  .wrapper {
    max-width: 1366px;
  }
}
@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 1024px;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 640px;
  }
}
@media screen and (max-width: 640px) {
  .wrapper {
    max-width: 475px;
  }
}

.ql-container {
  font-size: 28px !important;
}

.quill > .ql-container > .ql-editor.ql-blank::before {
  color: #b3b3b1;
}

.spinner-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: grey;
  z-index: 10;
}
.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100px;
  width: 100px;
  margin: 0px auto;
  /* -webkit-animation: rotation 0.5s infinite linear;
  -moz-animation: rotation 0.5s infinite linear;
  -o-animation: rotation 0.5s infinite linear; */
  animation: rotation 0.5s infinite linear;
  border: 6px solid blue;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
