.container {
  margin-top: 30px;
}

.title {
  font-size: 80px;
  font-weight: 300;
}

.post {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 50px;
  /* border: 2px solid red; */
  height: 550px;
}

.imgContainer {
  flex: 1;
  height: 500px;
  position: relative;
  background-color: red;
  border-radius: 40px;
}

.image {
  object-fit: cover;
  border-radius: 40px;
}

.textContainer {
  flex: 1;
  flex-direction: column;
  gap: 20px;
  /* border: 2px solid green; */
  height: 450px;
  display: flex;
  justify-content: center;
  /* background-color: yellow; */
}

.postTitle {
  font-size: 40px;
}

.postDesc {
  font-size: 20px;
  font-weight: 300;
  color: var(--softTextColor);
}

.button {
  padding: 16px 20px;
  border: none;
  border-radius: 5px;
  width: max-content;
  /* font-weight: bold; */
  font-size: 17px;
}

@media screen and (max-width: 1280px) {
  .title {
    font-size: 72px;
  }
}

@media screen and (max-width: 1024px) {
  .title {
    font-size: 64px;
  }

  .imgContainer {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 48px;
  }
}

@media screen and (max-width: 640px) {
  .title {
    font-size: 36px;
  }
}

/* featured.module.css */

/* Add animation styles */
/* Updated CSS animation to work with text content directly */

.skeleton {
  background-color: var(--shadowcol);
  background: linear-gradient(
      100deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 60%
    )
    var(--shadowcol);
  background-size: 200% 100%;
  background-position-x: 180%;
  animation: 1s loading ease-in-out infinite;
}

@keyframes loading {
  to {
    background-position-x: -20%;
  }
}

.postTitle_skeleton {
  width: 300px;
  height: 45px;
}

.postDec_skeleton {
  width: 500px;
  height: 20px;
}

.button_skeleton {
  width: 100px;
  height: 50px;
}
